.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;

}


.card{
    max-width: 50%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}


.imagens{
    padding: 15px;
    background-color: #232323;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 55px;
}

.squirt{
    border-radius: 50%;
    height:250px;
    width: 250px;
    transition: 0.5s;
}

.squirt:hover{
    border: 5px solid #232323;
    transform: scale(105%);
    translate: 0 -10px;
    transition: 0.6s all;
    filter: 
    drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.169));

}

.git{
    width: 60px;
    height: 60px;
    transition: 0.5s;
}
.linkd{
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

.git:hover{
    transform: scale(105%);
    translate: -4px -4px;
    transition: 0.8s;
    filter: 
        drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.377));
}
.linkd:hover{
    transform: scale(105%);
    translate: -4px -4px;
    transition: 0.8s;
    filter: 
        drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.377));
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}


.social{
    display: flex;
    margin: 10px 0;

}