.header {
    display: flex;
    align-items: center;
    background-color: #008b80;
    padding: 30px;
    font-size: 1rem;
    color: #ffffff;
    border-bottom: 1px solid #00cbba;
}

.icon{
    font-size: 2.8rem;
}
