.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}


.linguageContainer{
    display: flex;
    justify-content: space-around;
    border-radius: 60px;
    padding: 10px;
    width: 90%;
    background-color: #343434;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.256);
    transition: 0.8s;

}

.linguageContainer:hover{
    transform: scale(105%);
    transition: 0.8s;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.256);
}

.linguage{
    position: relative;
    background-color: none;
    height: 60px;
    width:  60px;
    transition: 0.5s;
}

.linguage:hover{
    transform: scale(105%);
    translate: -4px -4px;
    transition: 0.8s;
    filter: 
        drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.377));
    cursor: pointer;
}

.formacaoContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 90%;
    background-color: #343434;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.256);
    transition: 0.8s;
    border-radius: 10px;
}

.formacao{

}